src/test/resources/datasets/database.dtd

<!ELEMENT dataset (
        users*,
        role*,
        active*)>

        <!ELEMENT users EMPTY>
        <!ATTLIST users
                user_id CDATA #REQUIRED
                about_me CDATA #REQUIRED
                image CDATA #REQUIRED
                city CDATA #REQUIRED
                date_of_birth CDATA #REQUIRED
                education CDATA #REQUIRED
                email CDATA #REQUIRED
                first_name CDATA #REQUIRED
                is_enable CDATA #REQUIRED
                last_name CDATA #REQUIRED
                last_redaction_date CDATA #REQUIRED
                link_site CDATA #REQUIRED
                password CDATA #REQUIRED
                persist_date CDATA #REQUIRED
                profession CDATA #REQUIRED
                status CDATA #REQUIRED
                active_id CDATA #REQUIRED
                role_id CDATA #REQUIRED
                >

        <!ELEMENT role EMPTY>
        <!ATTLIST role
                id CDATA #REQUIRED
                name CDATA #REQUIRED
                >

        <!ELEMENT active EMPTY>
        <!ATTLIST active
                id CDATA #REQUIRED
                name CDATA #REQUIRED
                >